body{
    
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlite{
    color: rgb(217, 235, 63);
}
.my-detale{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.my-detale img{
    width: 100%;
    margin-top: 10px;
    height: 350px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: bold;
}
.about-me{
    height: 50px;
    width: 100%;

}
.red-hihglite{
    color: red;
}
#sumare{
    text-align: center;
}
.project{
    float: left;
    height: 500px;
    overflow: hidden;
    display: block;
}

.my-project{
    box-shadow: 10px 10px 40px gray;
    border-radius:10px;
    height: 970%;
    width: 20%;
    background-color: white;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.img-web{
    height: 2px;
    width: 1px;
    font-weight: 5px;
    font-size: 5px;
}
.chat-icone{
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 650px;
    position: ;
}
.chat-icone{
    float: left;
    height: 30px;
    position: center;
}